


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;



}

html , body{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    border: 0;
    background: black;
    color: white;

}